{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
    <h1>Create new Ticket</h1>

    {{ include('ticket/_form.html.twig') }}

    <button onclick="location.href='{{ path('app_ticket_user') }}'" class="btn btn-secondary">Back to list</button>
{% endblock %}
