$primary: #C7BDB3;     // Custom primary color
$secondary: #C7BDB3;   // Custom secondary color
$secondary-bg-subtle: #C7BDB3;
$danger: #e74c3c;      // Custom danger color

@import "~bootstrap/scss/bootstrap";

/* General dot style */
.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Priority color classes */
.priority-high { background-color: red; }
.priority-medium { background-color: orange; }
.priority-low { background-color: green; }

/* Status color classes */
.status-open { background-color: blue; }
.status-in-progress { background-color: purple; }
.status-closed { background-color: gray; }

