<header style="height: 80px" class="top-0 bg-secondary-subtle position-fixed w-100 align-content-center">
    <img style="height: 80px; width: 80px; top: 0; left: 0" src="{{ asset('images/logos/hamster.png') }}" alt="Logo">
    <a class="link-dark link-underline" href="{{ path('app_dashboard') }}">Hamstering Tickets</a>
</header>