<header style="height: 80px" class="top-0 bg-secondary-subtle position-fixed w-100 align-content-center d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img style="height: 60px; width: 60px;" src="{{ asset('images/logos/hamster.png') }}" alt="Logo">
            <a class="link-dark link-underline ml-2" href="{{ path('app_dashboard') }}">Hamstering Tickets</a>
        </div>
        <button class="navbar-toggler d-md-none sidebar-toggler" type="button" data-toggle="collapse" data-target="#sidebar"
                aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation" style="color: black;">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>