<!-- templates/components/sidebar.html.twig -->
<div class="d-flex flex-column flex-shrink-0 bg-light w-auto p-2" style="height: calc(100vh - 120px)" >
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Customers
            </a>
        </li>
    </ul>
    <hr>
    <div>
        <a href="#" class="d-flex align-items-center text-decoration-none">
            <strong>User</strong>
        </a>
    </div>
</div>
