<!-- templates/components/sidebar.html.twig -->
<div class="sidebar d-flex flex-column flex-shrink-0 bg-light w-100 p-2" style="height:calc(100vh - 120px)" >
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path('app_dashboard') }}" class="nav-link active" aria-current="page">
                Dashboard
            </a>
        </li>
    </ul>
    <hr>
    <div>
        <a href="#" class="d-flex align-items-center text-decoration-none">
            <strong>User</strong>
        </a>
    </div>
</div>
